.spacer {
    flex: 1 0 auto;
}

.toolbar {
    height: 5%;

    .button {
        margin: 0 10px;
    }
}
.main-layout {
    height: 100%;
    .container {
        height: 95%;
        .sidenav {
            padding: 20px;
        }
    }
    .sidenav-container {
        height: 100%;
    }
}


